{% extends 'base.html.twig' %}

{% block title %}UrgencEmploi{% endblock %}

{% block body %}
    {% include 'baseOpen.html.php' %}
    <p class="h2 col-12">
        <br><br><br>
        <section class="paragraphe subtitle">

            <div class="black">
                <h3>Bienvenue</h3>
            </div>
            Dans la page templates/exception/exception.hmtl.twig
            Acces refusé
            <br><br>
            <div>
            </div>
        </section>
    </p>
{% endblock %}
