{% extends 'shared/_header.html.twig' %}

{% block header %}
    {{ parent() }}
    <p class="title h2 text-center font-weight-bold col-2 col-sm-4 col-lg-6">
        {{ title }}
    </p>
{% endblock %}