{% extends 'base.html.twig' %}

{% block title %}UrgencEmploi{% endblock %}

{% block body %}
    {% include 'baseOpen.html.php' %}

    <p class="h2 col-12">
        <br><br><br>
        <section class="paragraphe subtitle">

            <div class="black">
                <h3>{{ 'exception.title403'|trans }}</h3>
            </div>
            <div class="red">
            <h4>
            Votre status ne permet pas d'acceder à cette fonction.
            <br>
            </h4>
            </div>
            <div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate" type="button" a href="{{ path ('index')}}">{{ 'button.index'|trans }}</a></button>
            <br><br>
            <div>
            </div>
        </section>
    </p>
    {% include 'baseClose.html.php' %}
{% endblock %}
